<h1>New user? Sign up here!</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.label :money %>
  <%= f.number_field :money %><br>

  <%= f.submit "Create User" %>
<% end %>