<h1><%= @game.title %></h1>

<p><%= @game.description %></p>

<p>Brought to you by <%= @game.developer.name %></p>

<p>Now available for $<%= @game.price %></p>

<% if @game.developer == current_user %>
  <%= link_to "Edit Game", edit_game_path %>
<% elsif current_user != developer %>
  <%= link_to "Buy This Game", new_transaction_path %>
<% end %>