<h1><%= @game.title %></h1>

<p><%= @game.description %></p>

<% if @game.developer != nil %>
  <p>Brought to you by <%= @game.developer.name %></p>
<% end %>

<p>Now available for $<%= @game.price %></p>

<% if @game.developer == current_user %>
  <%= link_to "Edit Game", edit_game_path %><br>
  <%= link_to "Delete Game", {action: "destroy", controller: "games", id: @game.id },
method: :delete %>
<% elsif current_user.developer == false %>
  <%= link_to "Buy This Game", new_transaction_path %>
<% end %>