<!DOCTYPE html>
<html>
  <head>
    <title>GameManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="<%= '/application.css' %>">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <div class="navigation">
        <a href="/">Home</a>
        <a href="/games">Games</a>
        <a href="/signin">Sign In</a>
        <a href="/logout">Logout</a>
        <br>
      </div>
    </footer>
  </body>
</html>
